name: release
on:
  push:
    tags:
      - "v*.*.*"
  release:
    types:
      - published

jobs:
  build:
    name: Run tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        neovim_version: ['nightly', 'stable']
    steps:
      - uses: actions/checkout@v4
      - name: Run tests
        uses: nvim-neorocks/nvim-busted-action@v1.1.1
        with:
          nvim_version: ${{ matrix.neovim_version }}

  release:
    needs: [build]
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Build Changelog
        id: github_release
        uses: mikepenz/release-changelog-builder-action@v6.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Release
        uses: ncipollo/release-action@v1 
        with:
          artifactErrorsFailBuild: true
          allowUpdates: true
          body: ${{steps.github_release.outputs.changelog}}
